# K Nearest Neighbors

In [1]:
import numpy as np
from sklearn import model_selection, preprocessing, neighbors
import pandas as pd

## Clasificación sin limpieza del dataset

In [2]:
df = pd.read_csv("../../datasets/cancer/breast-cancer-wisconsin.data.txt", header=None)
df.replace("?", -99999, inplace=True)
df.columns = ["name", "V1", "V2", "V3", "V4", "V5", "V6", "V7", "V8", "V9", "class"]

Y = df["class"].values
X = df[["name", "V1", "V2", "V3", "V4", "V5", "V6", "V7", "V8", "V9"]].values

X_train, X_test, Y_train, Y_test = model_selection.train_test_split(X, Y, test_size=0.2)

clf = neighbors.KNeighborsClassifier()
clf.fit(X_train, Y_train)

accuracy = clf.score(X_test, Y_test)
accuracy

0.6142857142857143

Como se puede observar, al incluir la columna "name" baja considerablemente el accuracy. No tiene sentido utilizar esta variable.

## Clasificación con limpieza del dataset

In [3]:
df = pd.read_csv("../../datasets/cancer/breast-cancer-wisconsin.data.txt", header=None)
df.head()

        0   1   2   3   4   5   6   7   8   9   10
0  1000025   5   1   1   1   2   1   3   1   1   2
1  1002945   5   4   4   5   7  10   3   2   1   2
2  1015425   3   1   1   1   2   2   3   1   1   2
3  1016277   6   8   8   1   3   4   3   7   1   2
4  1017023   4   1   1   3   2   1   3   1   1   2

In [4]:
df.describe()

,0,1,2,3,4,5,7,8,9,10
count,6.990000e+02,699.000000,699.000000,699.000000,699.000000,699.000000,699.000000,699.000000,699.000000,699.000000
mean,1.071704e+06,4.417740,3.134478,3.207439,2.806867,3.216023,3.437768,2.866953,1.589413,2.689557
std,6.170957e+05,2.815741,3.051459,2.971913,2.855379,2.214300,2.438364,3.053634,1.715078,0.951273
min,6.163400e+04,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,2.000000
25%,8.706885e+05,2.000000,1.000000,1.000000,1.000000,2.000000,2.000000,1.000000,1.000000,2.000000
50%,1.171710e+06,4.000000,1.000000,1.000000,1.000000,2.000000,3.000000,1.000000,1.000000,2.000000
75%,1.238298e+06,6.000000,5.000000,5.000000,4.000000,4.000000,5.000000,4.000000,1.000000,4.000000
max,1.345435e+07,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,4.000000

In [5]:
df.columns = ["name", "V1", "V2", "V3", "V4", "V5", "V6", "V7", "V8", "V9", "class"]

In [6]:
df.head()

      name  V1  V2  V3  V4  V5  V6  V7  V8  V9  class
0  1000025   5   1   1   1   2   1   3   1   1      2
1  1002945   5   4   4   5   7  10   3   2   1      2
2  1015425   3   1   1   1   2   2   3   1   1      2
3  1016277   6   8   8   1   3   4   3   7   1      2
4  1017023   4   1   1   3   2   1   3   1   1      2

In [7]:
df = df.drop(["name"], axis=1)

In [8]:
df.replace("?", -99999, inplace=True)

In [9]:
Y = df["class"].values

In [10]:
X = df[["V1", "V2", "V3", "V4", "V5", "V6", "V7", "V8", "V9"]].values

## Clasificador de los K vecinos

In [11]:
X_train, X_test, Y_train, Y_test = model_selection.train_test_split(X, Y, test_size=0.2)

In [12]:
clf = neighbors.KNeighborsClassifier()

In [13]:
clf.fit(X_train, Y_train)

KNeighborsClassifier()

In [14]:
accuracy = clf.score(X_test, Y_test)
accuracy

0.95

## Clasificar nuevos datos

In [15]:
sample_measure = np.array([4, 2, 1, 1, 1, 2, 3, 2, 1]).reshape(1, -1)

In [16]:
predict = clf.predict(sample_measure)

In [17]:
predict

array([2], dtype=int64)

In [18]:
sample_measure2 = np.array([[4, 2, 1, 1, 1, 2, 3, 2, 1],
                            [4, 2, 1, 1, 1, 2, 3, 2, 1]]).reshape(2, -1)

In [19]:
predict = clf.predict(sample_measure2)

In [20]:
predict

array([2, 2], dtype=int64)